@tailwind base;
@tailwind components;
@tailwind utilities;



@layer base {
    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }


@font-face {
  font-family: "NotoSansKR";
  src: url(./assets/fonts/Noto_Sans_KR/NotoSansKR-VariableFont_wght.ttf);
}

:root {
  --font-NotoSansKR: "" NotoSansKR;
}
