@tailwind base;
@tailwind components;
@tailwind utilities;



@layer base {
    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }

.tab-button {
  @apply bg-gray-200 text-gray-700 py-2 px-4 border border-gray-300 rounded cursor-pointer;
}

.tab-button.active {
  @apply bg-white border-b-0;
}


@font-face {
  font-family: "NotoSansKR";
  src: url(./assets/fonts/Noto_Sans_KR/NotoSansKR-VariableFont_wght.ttf);
}

:root {
  --font-NotoSansKR: "" NotoSansKR;
}
